/*
Theme Name: Krita
Theme URI: Krita.org
Description: Digital Painting tool for artists and illustrators
Version: 1.0
Author: Scott Petrovic
Author URI: http://www.scotttpetrovic.com
*/



/* Bootstrap is the base for this CSS
 * This file is just overriding some of the bootstrap properties 
 * so the theme will look branded
*/


html, body {
background-color: #4d4d4d;
background: url('images/canvas-background.jpeg');
}


/* this holds all of the content (breadcrumbs, pages content, footer) */
.container {
    -moz-box-shadow:   0 0 3px 3px #333333;
    -webkit-box-shadow: 0 0 3px 3px #333333;
    box-shadow:         0 0 3px 3px #333333;
}


#content-container {
    background-color: white;
    background: url('images/canvas-content-bg.jpg');
    padding: 4.0em;
}

#content-container h2 {
    font-family: 'Just Me Again Down Here', cursive;
    color: #004d5b;
    font-size: 2.8em;
    margin-bottom: 0.7em;

    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
}

#content-container P
{
    line-height: 1.5em;
    color: #777777;
}



#content-container img {
    -moz-box-shadow:   0 0 3px 3px #333333;
    -webkit-box-shadow: 0 0 3px 3px #333333;
    box-shadow:         0 0 3px 3px #333333;
    margin: 3em 0;
}




.nav.navbar-nav {
    background-color: black;            
    background: #545454;
    background: linear-gradient(to bottom,  #333333 0%,#000000 99%);
    border-radius: 0 0 0.8em 0.8em;            
    -moz-box-shadow:     0 0 3px 3px #444444;
    -webkit-box-shadow: 0 0 3px 3px #444444;
    box-shadow:         0 0 3px 3px #444444;
}

.nav.navbar-nav a {
    color: white;            
    transition: all 0.5s ease;
}

.nav.navbar-nav a:hover {
    background: #111111;
    color: #ddd;
    border-radius: 0 0 0.8em 0.8em;
}

li a.brandingPadding {
    padding: 0.2em 1em 0;
}



#slim-background {
    background: url('images/slim-header.jpg');
    background-size: cover;
    background-color: #ccc;
    height: 11em;
}

.icon-bar {
    background-color: #aaa;
}

.navbar-toggle {
    background-color: #333;
}


#breadcrumb-nav {
    background: #45b0d2;  
    background: linear-gradient(to bottom,  #4cbdd6 0%,#43abd0 99%);

    padding-top: 0.3em;
    border-top: 0.1em solid white;
}

#breadcrumb-nav ul {
    list-style: none outside none;
    margin-bottom: 0;
    margin-left: 2.8em;
    padding-left: 0;
}

#breadcrumb-nav li {
    display: inline-block;
    padding: 0;
    border-radius: 0.3em 0.3em 0 0;            
    transition: all 0.5s ease;
}

#breadcrumb-nav li:hover {
    background: #66bdd7;
}

#breadcrumb-nav li a {
    color: white;
    text-decoration: none;
    padding: 0.6em;
    display: inline-block;
}         

#breadcrumb-nav li.active {
background-color: white;
}

#breadcrumb-nav li.active a {
color: #555;
}

#footer-transition-image {
    background: url('images/footer-texture.png') repeat-x #ffffff;
    width: 100%;
    height: 70px;
}


footer {
    background-color: #dddede;
    background: linear-gradient(to bottom,  #dddede 55%,#d1d1d1 99%);
}

footer.row div {
    padding: 2.0em;
}

footer h5 {
    font-size: 1.2em;
    color: #7097af;
}

footer ul {
    list-style: none;
    list-style-position:outside;
    padding-left: 0;
}

footer ul a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 0.1em 0;
}


#socialmedia a {
    padding: 0.7em 0.2em;
    border-radius: 0.3em;
    float: right;
    transition: all 0.5s ease;
}

#socialmedia a:hover {
    background: #eee;            
}

footer  #socialmedia a.loginlink, footer a.loginlink:hover  {           
    bottom: 0;
    clear: right;
    background: none;
    color: #999;
}


@media (min-width: 768px) {

    /* override for bootstrap width */
    .container {
        width: 100%;
    }


    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    /* top level breadcrumb */
    #slim-background h2 {
        bottom: 0;
        font-size: 2.7em;
        left: 1em;
        position: absolute;
        color: white;
        text-shadow: 0 0 5px #373e40;
        font-family: Verdana, Arial, Helvetica ;
    }


    /* offset the navigation so it overlaps the breadcrumb area */
    .navbar {
        margin-bottom: -74px;
        z-index: 1;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}





/* these two media queries needed to override bootstrap breakpoints */
@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1170px;
    }
}        




@media (max-width: 768px) {

    /* anything below 768px, just go full width */
    .container {
        width: 100%;
    }

    #content-container h2 {
        font-size: 2em;
    }

    .nav.navbar-nav {
        box-shadow: none;
        border-radius: 0;
    }

    .nav.navbar-nav a {
        font-size: 2.0em;
    }

    .nav.navbar-nav a:hover {
        border-radius: 0;
    }

    .navbar {
        background-color: black;
        margin-bottom: 0;
    }

    .navbar-brand {
        height: auto;
    }

    #slim-background {
        height: inherit;
        background:none;
    }

    #slim-background h2 {
        color: #555;
    }

    #slim-container{
        background: #dedede;
    } 

    #breadcrumb-nav ul {
        margin-left: 0;
    }

    #breadcrumb-nav li {
        display: block;
        border-radius: 0; /* nil out from large display */
    }

    #breadcrumb-nav li.active {
        background-color: #73c6de;              
    }
    #breadcrumb-nav li.active a {
        color: white;
    }

    #breadcrumb-nav li a {
        font-size: 1.8em;
        display: block;
    }

    #content-container {
        padding: 1.3em;
    }


    footer ul a {
        display: block;
        padding: 1.0em;
        font-size: 1.4em;
    }

    footer ul a:hover {
        background-color: #e6e6e6;
        text-decoration: none;
    }

}
